/* Utility Classes */
.display-block {
    display: initial;
}

#container {
    padding: 2rem 1rem;
}

/* Nav Bar */

.nav-bar {
    position: relative;
    overflow: hidden;
}

.nav-bar ul {
    display: none;
    width: 30%;
}

.nav-bar ul li a {
    display: block;
}

.nav-bar a.hamburger {
    color: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 27px;
}

/* Section: Reservation */
#reservation {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -4rem;
    margin-bottom: 0;
}

#reservation .reservation-text {
    width: 100%;
    text-align: justify;
}

#reservation .reservation-text .reservation-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#reservation .reservation-text .reservation-btn a {
    margin-bottom: 0.5rem;
}

#reservation .reservation-img {
    display: none;
}

/* Section: About */
#about .our-story {
    flex-direction: column;
}

#about .our-story .our-story-text {
    width: 100%;
    margin-bottom: 1rem;
    text-align: justify;
}

#about .our-story .our-story-img {
    width: 100%;
    margin-bottom: -1.5rem;
}

/* Section: Menu */
#menu .our-menu,
#menu .our-chef,
#menu .our-dish {
    flex-direction: column;
    margin-bottom: 1.5rem;
}

#menu .our-chef .our-chef-img {
    order: 1;
}

#menu .our-menu .our-menu-text,
#menu .our-menu .our-menu-img,
#menu .our-chef .our-chef-text,
#menu .our-chef .our-chef-img,
#menu .our-dish .our-dish-text,
#menu .our-dish .our-dish-img {
    width: 100%;
    text-align: justify;
}

/* Section: About Us */
.about-us {
    margin-bottom: 1rem;
}
.about-us .about-us-flex {
    flex-direction: column;
}

.about-us .about-us-flex .about-us-content {
    width: 100%;
    margin-bottom: 1rem;
}

/* Section: Contact Us */
#map {
    display: none;
}

#contact .contact-content .contact-details {
    justify-content: start;
    align-items: start;
}

/* Footer */
.footer .footer-grid .logo {
    display: none;
}

.footer .footer-grid {
    display: flex;
    flex-direction: column;
}

.footer .footer-grid .grid-container {
    border-bottom: 1px dotted black;
}