@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color: #0f0f0ff5;
    --white-color: #fff;
    --margin-bottom: 2rem;
    --small-margin: 1rem;
    --big-margin: 4rem;
    --large-margin: 6rem;
}

* {
    scroll-behavior: smooth;
}

/* Utility Class */
/* Flexbox */
.f {display: flex;}
.r {flex-direction: row;}
.c {flex-direction: column;}

.v {align-items: center;}
.vs {align-items: flex-start;}
.ve {align-items: flex-end;}
.vas {align-self: flex-end;}

.h {justify-content: center;}
.hs {justify-content: flex-start;}
.he {justify-content: flex-end;}
.hjs {justify-self: flex-end;}

.s {justify-content: space-between;}
.sa {justify-content: space-around;}

.first-letter {
    color: white;
}

.btn {
    text-decoration: none;
    border: 1px solid var(--primary-color);
    border-radius: 0.25rem;
}

.btn-small {
    padding: 0.5rem 1rem;
}

.bg-black {
    background: var(--primary-color);
    color: var(--white-color);
}

.bg-black:hover {
    background: var(--white-color);
    color: var(--primary-color);
}

.bg-white {
    color: var(--primary-color);
    background: var(--white-color);
}

.bg-white:hover {
    color: var(--white-color);
    background: var(--primary-color);
}

.text-align {text-align: center;}

div i {
    margin-right: var(--small-margin);
}

/* Body */
body {
    scroll-behavior: smooth;
}

#container {
    background: var(--white-color);
    padding: 2rem 4rem;
    line-height: 1.7;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

/* Nav Bar */
.nav-bar {
    margin-bottom: var(--margin-bottom);
}
.nav-bar .logo .icon-circle {
    width: 2rem;
    height: 2rem;
    background: var(--primary-color);
    border-radius: 50%;
}

.nav-bar .logo .logo-name {
    margin: -11px;
}

.nav-bar ul li a {
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    color: var(--primary-color);
}

.nav-bar ul li a:hover {
    background: var(--primary-color);
    color: var(--white-color);
    border-radius: 0.25rem;
}

/* Sections */
/* Reservations */
#reservation {
    margin-bottom: var(--margin-bottom);
}

#reservation .reservation-text {
    width: 50%;
    padding: 4rem 2rem;
}

#reservation .reservation-text h2 {
    margin-bottom: var(--margin-bottom);
    font-size: 30px;
    font-weight: bold;
}

#reservation .reservation-text p {
    margin-bottom: var(--margin-bottom);
}

#reservation .reservation-text .reservation-btn a {
    margin-right: var(--margin-bottom);
    padding: 0.5rem 1.2rem;
}

#reservation .reservation-img {
    width: 40%;
    position: relative;
}

#reservation .reservation-img .img1 {
    position: relative;
    height: 250px;
    width: 60%;
    background: url("/css/img/setting1.jpg") no-repeat center center/cover;
    z-index: 1;
}

#reservation .reservation-img .img2 {
    height: 250px;
    width: 60%;
    background: url("/css/img/setting2.jpg") no-repeat center center/cover;
    position: absolute;
    right: 20;
    top: 30%;
}
/* About */
#about {
    margin-bottom: var(--large-margin);
}

#about h4 {
    margin-bottom: var(--margin-bottom);
    font-weight: bold;
}

#about .about-btn {margin-bottom: var(--big-margin);}

#about .our-story .our-story-text {
    width: 30%;
}

#about .our-story .our-story-text h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: var(--margin-bottom);
}

#about .our-story .our-story-img{
    position: relative;
    width: 40%;
    height: 350px;
    background: url("/css/img/setting2.jpg") no-repeat center center/cover;
}

/* Menu */
#menu {
    margin-bottom: var(--big-margin);
}

#menu > h3 {
    font-size: 30px;
    margin-bottom: var(--margin-bottom);
}

#menu .our-menu {margin-bottom: var(--large-margin);}

#menu .our-menu .our-menu-text {
    width: 30%;
}

#menu .our-menu .our-menu-text h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: var(--margin-bottom);
}

#menu .our-menu .our-menu-img{
    position: relative;
    width: 35%;
    height: 300px;
    background: url("/css/img/food1.jpg") no-repeat center center/cover;
}

#menu .our-chef {
    margin-bottom: var(--large-margin);
}

#menu .our-chef .our-chef-text {
    width: 30%;
}

#menu .our-chef .our-chef-text h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: var(--margin-bottom);
}

#menu .our-chef .our-chef-img{
    position: relative;
    width: 35%;
    height: 300px;
    background: url("/css/img/chef.jpg") no-repeat center center/cover;
}

#menu .our-dish {
    margin-bottom: var(--large-margin);
}

#menu .our-dish .our-dish-text {
    width: 30%;
}

#menu .our-dish .our-dish-text h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: var(--margin-bottom);
}

#menu .our-dish .our-dish-img{
    position: relative;
    width: 35%;
    height: 300px;
    background: url("/css/img/food1.jpg") no-repeat center center/cover;
}

/* Section: About Us */
.about-us {
    margin-bottom: var(--large-margin);
}

.about-us > h3 {
    font-size: 30px;
    margin-bottom: var(--margin-bottom);
}

.about-us .about-us-flex {
    padding: 1rem;
}

.about-us .about-us-flex .about-us-content {
    width: 25%;
    height: 12rem;
    margin: 0 2rem;
    padding: 1rem;
    border: 1px solid rgb(241, 237, 237);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
}

.about-us .about-us-flex .about-us-content .date {
    margin-top: auto;
}

.about-us .about-us-flex .about-us-content p {
    color: grey;
}

.about-us .about-us-flex .about-us-content .content-img {
    margin-bottom: var(--small-margin);
}

.about-us .about-us-flex .about-us-content .content-img img {
    height: 3rem;
    width: 3rem;
    margin-right: 1.5rem;
    border-radius: 50%;
}

.about-us .about-us-flex .about-us-content .content-img h3 {
    font-weight: bold;
    color: var(--primary-color);
}

/* Section: Contact Us */
#contact {
    margin-bottom: var(--margin-bottom);
}

#contact .contact-content #map {
    height: 350px;
    /* The height is 400 pixels */
    width: 65%;
    /* The width is the width of the web page */
  }

  #contact .contact-content .contact-details {
      line-height: 2.7;
  }

  #contact .contact-content .contact-details h3 {
      font-weight: bold;
  }